html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
}


#current {
    font-size: 45px;
    text-align: right;
    padding-right: 20px;
    margin: 0;
    border: none;
    outline: none;
}

#previous {
    font-size: 20px;
    text-align: right;
    padding-right: 20px;
    margin: 0;
    height: 26.67px;
}

#calculator-container {
    height: 600px;
    width: 375px;
    display: flex;
    flex-direction: column;
    position: fixed;
    border-radius: 20px;
}

#screen {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}

button {
    font-size: 20px;
}

#buttons {
    background-color: rgb(58, 57, 57);
    flex: 2;
    display: grid;
    grid-template-columns: repeat(5, 93.75px);
    grid-template-rows: repeat(5, 83.3px);
}